header {
    background: #0c0b0b;
    height : 100px;
    display: flex;
    align-items: center; /* vertical center*/
    padding-left: 12px;
}

.page-heading {
    width: 70%;
    text-align: center;
    color: #ef9494;
}

nav {
    display: flex;
    background: #0c0b0b;
    border-bottom: 2px solid #ef9494; /* underline for tabs */
}

.nav-link {
    flex: 1; /* make all tabs equal width */
    text-align: center;
    padding: 20px 0;
    color: #ef9494;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    border-right: 1px solid #333;   /* separator between tabs */
}

.nav-link:last-child {
    border-right: none; /* remove border on last tab */
}

.nav-link:hover {
    background: #ef9494;
    color: #0c0b0b;
}

.nav-link.active {
    background: #ef9494;
    color: #0c0b0b;
    font-weight: bold;
}


.footer {
    background: #0c0b0b;
    color: aliceblue;
    padding: 10px 0;
    overflow: hidden;
}

.footer-extra {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    text-align: center;
    margin-bottom: 8px;
}

.footer-extra a {
    color: aliceblue;
    text-decoration: none;
}

/* Bottom row: marquee */
.footer-marquee {
    white-space: nowrap;
    animation: scroll-footer 40s linear infinite;
    padding-left: 100%;
    margin: 0;
}

/* animation */
@keyframes scroll-footer {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}